# macOS
.DS_Store

# Xcode local state
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xcbkptlist
*.xcarchive
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods generated dependencies and workspace
/XYDevTool/Pods/
/XYDevTool/XYDevTool.xcworkspace/

# Local release artifacts
/dist/
*.dmg
